@import "tailwindcss";

@theme {
  --color-rey: oklch(0.2853 0.1242 261.12);
  --color-oro: oklch(0.8125 0.1698 76.25);
  --color-silver: oklch(0.8078 0 0);
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    /* background-color: #ffffff; */
  }
}

::selection {
  background: var(--color-rey);
  color: var(--color-silver);
}
